{% extends 'index.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<!-- shopping-cart section  -->

<p>Hero</p>

<section class="shopping-cart-container">

    <div class="products-container">

        <h3 class="title">your products</h3>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-times"></i>
                <img src="image/menu-1.png" alt="">
                <div class="content">
                    <h3>delicious food</h3>
                    <span> quantity : </span>
                    <input type="number" name="" value="1" id="">
                    <br>
                    <span> price : </span>
                    <span class="price"> $40.00 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-total">
        <h3 class="title"> cart total </h3>
        <div class="box">
            <h3 class="subtotal"> subtotal : <span>$200</span> </h3>
            <h3 class="total"> total : <span>$200</span> </h3>
            <a href="#" class="btn">proceed to checkout</a>
        </div>
    </div>
</section>
{% endblock main-content %}