/* FOOTER */
.footer a{
    text-decoration: none;
  }
  .footer {
    background-color: #222;
    padding: 2rem 1rem;
    line-height: 2rem;
    height: 220px;
  }
  
  .footer-center span {
    margin-right: 1rem;
  }
  
  .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    color: #fff;
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: white;
    font-size:0.9rem;
    transition: 0.6s;
  }
  
  .footer-center a:hover{
   color: #e53637;
  }
  
  .footer-center div {
    color: white;
    font-size: 1rem;
  }
  
  .footer-center h3 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 0.5rem;
    }
    
    .footer {
      background-color: #222;
      padding: 1.5rem 1rem;
      line-height: 1.5rem;
      height: 460px;
    }
    
    .footer-center span {
      margin-right: 1rem;
    }
    
    .footer-center a:link,
    .footer-center a:visited {
      display: block;
      color: white;
      font-size:0.9rem;
      transition: 0.6s;
    }
    
    .footer-center a:hover{
     color: #e53637;
    }
    
    .footer-center div {
      color: white;
      font-size: 0.9rem;
    }
    
    .footer-center h3 {
      font-size: 0.9rem;
      font-weight: 100;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
  
  /* footer */
  .maincontent{
    min-height: 100%;
    position: relative;
  }
  
  .maincontent2{
    padding-bottom: 320px;
}

.footer-center2 h3 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}
.social-links a:hover{
    color: #24262b;
    background-color: white;
}

@media (max-width: 768px) {
    .footer-center2 h3 {
      font-size: 0.9rem;
      font-weight: 100;
      margin-bottom: 1rem;
      font-weight: bold;
    }
}

/*footer*/
.footer-last{
  margin-top:420px ;
}