/*==================
 GALLERY PAGE
====================*/
.cl-gallery{
    text-decoration: none;
}
.mu-title {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
  }
  
  .mu-title h2 {
  color: black;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 36px;
  }
  
  .mu-read-more-btn {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-read-more-btn:hover, .mu-read-more-btn:focus {
    color: #fff;
  }
  
  .mu-post-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-post-btn:hover, .mu-post-btn:focus {
    color: #fff;
  }
  
  #mu-gallery {
    display: inline;
    padding: 100px 0;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content {
    display: inline;
    float: left;
    width: 100%;
    margin-top:-60px;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 50px;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery {
    display: inline;
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item {
    display: inline;
    float: left;
    width: 100%;
    position: relative;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-img img {
    transform: scale(1.3);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transform: scale(1);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info .mu-single-gallery-info-inner {
    transform: scale(1);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    display: inline;
    float: left;
    height: 220px;
    overflow: hidden;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    padding-top: 70px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    transform: scale(1);
    width: 100%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transform: scale(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner h4 {
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner a {
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
.gallerycontainer{
    background-size: cover;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

.gallerycontainer .title{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  background: rgb(225, 232, 234);
  width: 17%;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px){
  .gallerycontainer img{
		height: 250px;
	}
  .gallerycontainer .title{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(225, 232, 234);
    width: 20%;
    font-weight: bold;
    height: 15%;
    font-size:1rem;
  }
}


