
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: 15px;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}



.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #ffffff;
}

.header__top {
	background: #111111;
	padding: 10px 0;
}

.header__top__left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header__top__right {
	text-align: right;
}

.header__top__links {
	display: inline-block;
	margin-right: 25px;
}

.header__top__links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 28px;
	display: inline-block;
}

.header__top__links a:last-child {
	margin-right: 0;
}

.header__top__hover {
	display: inline-block;
	position: relative;
}

.header__top__hover:hover ul {
	top: 24px;
	opacity: 1;
	visibility: visible;
}

.header__top__hover span {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.header__top__hover span i {
	font-size: 20px;
	position: relative;
	top: 3px;
	right: 2px;
}

.header__top__hover ul {
	background: #ffffff;
	display: inline-block;
	padding: 2px 0;
	position: absolute;
	left: 0;
	top: 44px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__hover ul li {
	list-style: none;
	font-size: 13px;
	color: #111111;
	padding: 2px 15px;
	cursor: pointer;
}

.header__logo {
	padding: 30px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	text-align: center;
	padding: 26px 0 25px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 18px;
	color: #111111;
	display: block;
	font-weight: 600;
	position: relative;
	padding: 3px 0;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e53637;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__nav__option {
	text-align: right;
	padding: 30px 0;
}

.header__nav__option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
}

.header__nav__option a span {
	color: #0d0d0d;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 8px;
}

.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}



/*--------------------------------- Responsive Media Quaries -----------------------------*/



/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header__menu ul li {
		margin-right: 10px;
	}
	.header__nav__option a {
		margin-right: 10px;
	}
	.header__nav__option .price {
		margin-left: 0;
	}
	
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #111111;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #111111;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 25px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	
	
	.offcanvas__nav__option {
		text-align: center;
		margin-bottom: 25px;
	}
	.offcanvas__nav__option a {
		display: inline-block;
		margin-right: 26px;
		position: relative;
	}
	.offcanvas__nav__option a span {
		color: #0d0d0d;
		font-size: 11px;
		position: absolute;
		left: 5px;
		top: 8px;
	}
	.offcanvas__nav__option a:last-child {
		margin-right: 0;
	}
	.offcanvas__nav__option .price {
		font-size: 15px;
		color: #111111;
		font-weight: 700;
		display: inline-block;
		margin-left: -20px;
		position: relative;
		top: 3px;
	}
	.offcanvas__text p {
		color: #111111;
		margin-bottom: 0;
	}
	.header__top {
		display: none;
	}
	.header .container {
		position: relative;
	}
	.header__menu {
		display: none;
	}
	.header__nav__option {
		display: none;
	}
	.search-model-form input {
		width: 100%;
		font-size: 24px;
	}
	
}
