{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block banner %}
 <!-- Carousel section -->
 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for banners in banner %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter0}}" class="active"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for banners in banner %}
        {% if forloop.counter == 1 %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <img src="{{banners.img.url}}" class="d-block w-100" height="250px" alt="...">
                <div class="carousel-captions d-none d-md-block">
                    <h1>{{banners.headertext}}</h1>
                    <p>{{banners.subtext}}</p>
                </div>
            </div>
            {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endblock banner %}

{% block trending_products %}
<div class="featuredslider">
  <!-- <button class="btn btn-primary" id="showbtn">Show more</button> -->
  <h2 class="mobfcategories">Popular Dishes</h2>
  <div class="owl-carousel owl-theme">
  {% for b in featured %}
  <div class="mobileitem">
        <a href=""  class="alink"  data-toggle="modal" data-target="#popmenu" data-img="{{b.product_image.url}}" data-name="{{b.title}}" data-price="{{b.item_price}}" data-des="{{b.description}}" data-id="{{b.id}}">
        <img id="imgid" src="{{b.product_image.url}}" height="200">
        <!-- product_image bhaneko models.y ko Product model ko product_image ho -->
        <p class="cap">{{b.title}}</p>
        <p class="pricecap">Rs {{b.item_price}}</p> 
        </a>
  </div>
  {% endfor %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popmenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content menumodal">
      <div class="modal-header">
        <h5 class="modal-title" id="foodtitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">
        <img id="imgpop" src="{% static 'img/momo.jpg' %}" width="200" height="150">
        <p class="popfp" style="font-weight: bold;">Rs <span id="foodprice"></span></p>
        <p id="fooddesc" class="popfp"></p>
        <div class="pro-qty">
          <form action="">
              <span class="dec qtybtn decrement-btn">-</span>
              <input type="text" name="quantity" class="qty-input" value="1" id="quantity" maxlength="1">
              <span class="dec qtybtn increment-btn newhover">+</span>
              <input type="hidden" name="prod_id" id="prod_id" value=""><!--to get the product id we do this-->>
          </form>
        </div>
        <div class="btnmodaladd">
          <button type="button" class="btn btn-success modaladd"><span class="buybutton">Add to Cart</span></button>
        </div> 
      </div>
      <div class="modal-footer" style="justify-content:center;">
        <p>Note: We charged Rs {{shippingcost|floatformat:0}} for the delivery charge.</p>
      </div>
    </div>
  </div>
</div>
{% endblock trending_products %}

{% block livesale %}
<!-- deal section starts  -->
<section class="deal" id="deal">
  <div class="containersed">
    {% if event %}
    <img src="{{event.image.url}}" height="500" alt="Snow" style="width:100%;">
    {% else %}
    <img src="{% static 'img/slider1.jpg' %}" height="500" alt="Snow" style="width:100%;">
    {% endif %}
    {% if event %}
    <div class="contentsed">      
      <h3 class="eventtitle">{{event.title}}</h3> 
      <div class="count-down" id="countdown">
          <div class="box">
              <h3 id="day">00</h3>
              <span>day</span>
          </div>
          <div class="box">
              <h3 id="hour">00</h3>
              <span>hour</span>
          </div>
          <div class="box">
              <h3 id="minute">00</h3>
              <span>minute</span>
          </div>
          <div class="box">
              <h3 id="second">00</h3>
              <span>second</span>
          </div>
      </div>
      <span id="date">Starting date & time: {{event.date|date:"Y-m-d H:i:s"}}</span>
    </div>
    {% else %}
    <h2 class="noevent">No event available currently</h2>
    {% endif %}
  </div>
</section>
<!-- deal section ends -->
{% endblock livesale %}

{% block review %}
<div class="featuredslider">
  <h2 class="mobfcategories">Customer Review</h2>
  <div class=" review-carousel owl-carousel owl-theme">
  {% for rev in review %}
  <figure class="snip1390">
    <div class="customer">
      <a><span class="customerlog">
        <b class="username">{{rev.user.first_name.0|capfirst}}</b>
      </span></a>
    </div>
    <figcaption>
      <b style="color: white;">{{rev.user.first_name}} {{rev.user.last_name}}</b>
      <div class="rating-star">
        <span>
            <i class="fa fa-star star{% if rev.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star star{% if rev.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star star{% if rev.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star star{% if rev.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star star{% if rev.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
        </span>
      </div>
      <blockquote>{{rev.review}}</blockquote>
    </figcaption>
  </figure>
  {% endfor %}
  </div>
</div>
{% endblock review %}

{% block main-content %}
  <!-- Carousel wrapper -->
  {% if video %}
  <div class="container-fluids">
    <div id="carouselExampleControls" class="carousel slide" data-interval="10000"  data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for videos in video %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <div class="d-flex justify-content-center videos">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{videos.caption}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark rounded-circle p-2 shadow d-block" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark rounded-circle p-2 shadow d-block" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endif %}
<!-- Carousel wrapper -->
{% endblock main-content %}