{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block banner %}
 <!-- Carousel section -->
 <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for banners in banner %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter0}}" class="active"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for banners in banner %}
        {% if forloop.counter == 1 %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <img src="{{banners.img.url}}" class="d-block w-100" height="250px" alt="...">
                <div class="carousel-captions d-none d-md-block">
                    <h1>{{banners.headertext}}</h1>
                    <p>{{banners.subtext}}</p>
                </div>
            </div>
            {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endblock banner %}

{% block trending_products %}
<div class="featuredslider">
  <!-- <button class="btn btn-primary" id="showbtn">Show more</button> -->
  <h2 class="mobfcategories">Popular Dishes</h2>
  <div class="owl-carousel owl-theme">
  {% for b in featured %}
  <div class="mobileitem">
        <a href="#">
        <img src="{{b.product_image.url}}" height="200">
        <!-- product_image bhaneko models.y ko Product model ko product_image ho -->
        <p class="cap" style="font-family:Nunito Sans, sans-serif">{{b.title}}</p>
        <p class="pricecap" style="font-family:Times New Roman;">Rs {{b.item_price}}</p>
        </a>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock trending_products %}

{% block livesale %}
<!-- deal section starts  -->
<section class="deal" id="deal">
  <div class="containersed">
    {% if event %}
    <img src="{{event.image.url}}" height="500" alt="Snow" style="width:100%;">
    {% else %}
    <img src="{% static 'img/slider1.jpg' %}" height="500" alt="Snow" style="width:100%;">
    {% endif %}
    {% if event %}
    <div class="contentsed">
     
      <!-- <p class="eventdesc">{{event.description}}</p> -->
      
      <h3 class="eventtitle">{{event.title}}</h3> 
      <div class="count-down" id="countdown">
          <div class="box">
              <h3 id="day">00</h3>
              <span>day</span>
          </div>
          <div class="box">
              <h3 id="hour">00</h3>
              <span>hour</span>
          </div>
          <div class="box">
              <h3 id="minute">00</h3>
              <span>minute</span>
          </div>
          <div class="box">
              <h3 id="second">00</h3>
              <span>second</span>
          </div>
      </div>
      <span id="date">Starting date & time: {{event.date|date:"Y-m-d H:i:s"}}</span>
      <!-- <p>{{event.description}}</p> -->
    </div>
    {% else %}
    <h2 class="noevent">No event available currently</h2>
    {% endif %}
  </div>
</section>
<!-- deal section ends -->
{% endblock livesale %}

{% block main-content %}
  <!-- Carousel wrapper -->
  <div class="container-fluid px-0 videocontainer">
    <div id="carouselExampleControls" class="carousel slide" data-interval="10000"  data-ride="carousel">
        <!-- data-interval for slider timer i.e.10000 = 10s -->
        <div class="carousel-inner" role="listbox">
            {% for videos in video %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <div class="d-flex justify-content-center videos">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{videos.caption}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark rounded-circle p-2 shadow d-block" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark rounded-circle p-2 shadow d-block" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Carousel wrapper -->
{% endblock main-content %}