{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/elegant-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option">
            <!-- <a href="#" class="search-switch"><img src="{% static 'img/search.png' %}" alt=""></a> -->
            <a href="#"><img src="{% static 'img/heart.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/cart.png' %}" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.jpg' %}" width="196" height="30" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                            <div class="responsivesearch-box">
                                <input type="text" class="searchtext" placeholder="Search...">
                                <span class="searchbutton">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="header__nav__option" id="headerright">
                        <!-- <a href="#" class="search-switch"><img src="{% static 'img/search.png' %}" alt=""></a> -->
                        <div class="search-box">
                            <input type="text" class="searchtext" placeholder="Search...">
                            <span class="searchbutton">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <a href="#"><img src="{% static 'img/heart.png' %}" alt=""></a>
                        <a href="#" style="margin-right: 25px;"><img src="{% static 'img/cart.png' %}" alt=""> <span>0</span></a>
                        <div class="price">Rs22000</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Search Begin -->
    <!-- <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div> -->
    <!-- Search End -->

    <!-- Js Plugins -->
    <!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script> -->
    <!-- <script src="js/jquery.countdown.min.js"></script> -->
    <!-- <script src="js/jquery.slicknav.js"></script> -->
    <!-- <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> 
</body>

</html>