{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}
<div class="container my-4">
    <h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search Result For {{ request.GET.q }} </span></h3>
    <div class="row">
        {% for b in data %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="category-image m-2">
                  <a href="/menulist/{{b.id}}" class="menulink"><img src="{{b.img.url}}" class="card-img-top" height="200px" width="200px"></a>
                </div>
                <div class="card-body">
                    <div class="row" style="justify-content: center; font-weight:bold;"><span class="fs-5">{{b.title}}</span></div>
                    <div class="row mb-2">
                        <span class="card-text text-center" style="font-size: large;">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
