<div class="col-sm-2 border-end">
    <ul class="list-unstyled">
      <li class="d-grid"><a href="{% url 'profile' %}"  class="btn {{activea}} activebar"><i class="fa fa-user"></i> Profile</a></li>
      <li class="d-grid"><a href="{% url 'address' %}" class="btn {{activeb}} activebar"><i class="fa fa-map-marker" aria-hidden="true"></i> Address</a></li>
      <li class="d-grid"><a href="{% url 'order' %}" class="btn {{activec}} activebar"><i class="fa fa-cutlery" aria-hidden="true"></i> Order</a></li>
    </ul>
</div>

<style>
  .activebar{
    color:black;
    margin-left: -14px;
    width: 100%;
    font-weight: bold;
  }

  .border-end {
    border-right: 1px solid #dee2e6!important;
  } 

  .d-grid{
    text-align: center;
  }


</style>

