{% extends 'index.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row" id="row">
      {% include 'sidebar.html' %}
     <div class="col-sm-9 offset-sm-1">
      <div class="row">
      {% if add %}
        {% for ad in add %}
          <div class="col-sm-11">
            <div class="card o-hidden border-0 shadow-lg my-2 col-lg-11">
              <div class="card-body">
                <p>Region: {{ad.state}}</p>
                <p>City: {{ad.city}}</p>
                <p>Area: {{ad.address}}</p>
                <p>ZipCode: {{ad.zipcode}}</p>
                <p>Phone Number: {{ad.phone}}</p>
                <a href="{% url 'edit-address' ad.id %}"><input type="submit" value="Edit" class="btn btn-primary mt-2"></a>
                <a href="{% url 'delete-address' ad.id %}"><input type="submit" value="Delete" class="btn btn-danger mt-2"></a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-sm-11">
          <div class="card o-hidden border-0 shadow-lg my-2 col-lg-11">
            <div class="card-body">
              <p>Region: {{ad.state}}</p>
              <p>City: {{ad.city}}</p>
              <p>Area: {{ad.address}}</p>
              <p>ZipCode: {{ad.zipcode}}</p>
              <p>Phone Number: {{ad.phone}}</p>
              <a href="{% url 'create-address' %}"><input type="submit" value="Add" class="btn btn-danger mt-2"></a>
            </div>
          </div>
        </div>
      {% endif %}
      </div>
     </div>
  </div>
</div>
  
{% endblock main-content %}

