{% extends 'index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="card o-hidden border-0 shadow-lg my-2 col-lg-15">
                <div class="card-body">
                    {% if messages %}
                        {% for mess in messages %}
                            <div class="alert alert-{{mess.tags}}" role="alert">
                                {{mess}}
                            </div>
                        {% endfor %}
                    {% endif %} 
                    <form action="" method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom display">
                                <h3 class="float-left">Login</h3>
                                <img src="{% static 'img/logo.jpg' %}" class="logo float-right pt-1 mb-2" width="45" height="45">
                            </legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-grounp">
                            <button class="btn btn-success" type="submit">Log In</button>
                            <small class="float-right text-muted">Have't an Account ?<a href="{% url 'signup' %}" class="text-dark"> Signup</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}

<!-- <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md-4">
        {% if messages %}
            {% for mess in messages %}
            <div class="alert alert-success" role="alert">
                {{mess}}
            </div>
            {% endfor %}
        {% endif %}               
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom display">
                    <h3 class="float-left">Login</h3>
                <img src="{% static 'main/img/logo.png' %}" class="logo float-right pt-1" width="25">
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-grounp">
                <button class="btn btn-success" type="submit">Log In</button>
                <small class="float-right text-muted">have't an Account ?<a href="{% url 'signup' %}" class="text-dark"> Signup</a></small>
            </div>
        </form>
        <br>
    </div>
    <div class="col-md">

    </div>
</div> -->