{% extends 'index.html' %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block main-content %}

<div class="menucontainer">
    <div class="title">Udibaba Menu</div>
    <img src="{% static 'img/foodbg.webp' %}" height="350" alt="Snow" class="d-block w-100">
</div>

<section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">
           <!-- start title -->
           <div class="mu-title mb-2">
            <h3 class="menuheading">Our Food Menu</h2>
           </div>
           <!-- end title -->
           <!-- start gallery content -->
           <div class="mu-gallery-content">
             <div class="mu-gallery-body">
               <ul id="mixit-container" class="mixit-container">
                 <!--Started using for loop in image-->
                 {% for menu in menu %}
                 <div class="Photos">
                     <div class= "gallery">                    
                       <a href="/menulist/{{menu.id}}"  class="menulink">
                        <img src="{{menu.img.url}}" width="300" height="200">
                         <div class="des">
                             <p>{{menu.title}}</p>
                             <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                         </div>
                        </a>
                     </div>
                 </div>
                 {% endfor %}
                 <!--for loop end-->
               </ul>
            </div>
            </div>
            <!-- end gallery content -->
          </div>
         </div>
      </div>
      <p class="my-4 text-center"><button class="btn btn-dark btn-sm" id="loadmore" data-limit="4" data-total="{{totaldata}}">Load More <i class="fa fa-refresh load-more-icon" aria-hidden="true"></i></button></p>
        <!-- data limit is how many data or products we want to show in html page and data-total means how many data or products we have in database which is passed from views.py dictionary-->
  </div>
  </section><!-- End gallery  --> 

{% endblock main-content %}