{% extends 'index.html' %}
{% load static %}
{% block title %}Menu{% endblock title %}
{% block main-content %}

<div class="menucontainer">
    <div class="title">Food Menu</div>
    <img src="{% static 'img/foodbg.webp' %}" height="350" alt="Snow" class="d-block w-100">
</div>

<section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">
           <!-- start title -->
           <div class="mu-title mb-2">
            <h3 class="menuheading">Our Food Menu</h2>
           </div>
           <!-- end title -->
           <!-- start gallery content -->
           <div class="mu-gallery-content">
             <div class="mu-gallery-body">
               <ul id="mixit-container" class="row">
                 <!--Started using for loop in image-->
                 {% for menu in menu %}
                 <div class="Photos">
                     <div class= "gallery">
                         <a href=""><img src="{{menu.img.url}}" width="300" height="200">
                         <div class="des">
                             <p>{{menu.title}}</p>
                             <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                         </div>
                     </div>
                 </div>
                 {% endfor %}
                 <!--for loop end-->
               </ul>
            </div>
            </div>
            <!-- end gallery content -->
          </div>
         </div>
      </div>
  </div>
  </section><!-- End gallery  --> 

{% endblock main-content %}