{% extends 'index.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block main-content %}
<div class="container my-5">
  <div class="row" id="row">
    {% include 'sidebar.html' %}
   <div class="col-sm-8 offset-sm-1">
     <div class="card o-hidden border-0 shadow-lg my-2 col-lg-15">
       <div class="card-body">
         <div class="content-section">
           <div class="row">
             <div class="col-md-11">
               <form method="POST" enctype="multipart/form-data"> <!-- multipart/form-data--> <!--Encoding Data type used to load picture--> 
                 {% csrf_token %}
                 <fieldset class="form-group">
                   <legend class="border-bottom mb-4">Profile Information</legend> 
                   {{ u_form|crispy }}
                 </fieldset>
                 <div class="form-group">
                   <button class="btn btn-danger" type="submit">Save Changes</button>
                 </div>
                 {% if form.non_field_errors %}
                   {% for error in form.non_field_errors %}
                     <p class="alert alert-danger my-3">{{error}}</p>
                   {% endfor %}
                 {% endif %}
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
 </div>

{% endblock main-content %}

