<div class="row" id="row">
    <div class="col-md-8 cart">
        <div class="titles">
            <div class="row">
                <div class="col">
                    <h4 style="margin-top: 20px;"><b><span id="s1">Shopping Cart</span></b></h4>
                </div>
                <!-- <div class="col align-self-center text-right text-muted">3 items</div> -->
            </div>
        </div>
        <hr>
        {% for product_id,item in cart_data.items %}
        <div class="row border-top border-bottom">
            <div class="row main align-items-center">
                <div class="col-2"><img class="img-fluid" src="{{item.image}}" alt="image"></div>
                <div class="col">
                    <!-- <div class="row text-muted">CHicken</div> -->
                    <div class="row">{{item.title}}</div>
                </div>
                <div class="col"> <input type="number" class="product-qty-{{product_id}}" id="cartquan" value="{{item.quan}}" min="1" max="10"/> </div>
                <div class="col">Rs {{item.price}}</div>
                <div class="col" style="display: flex;">
                    <button class="btn btn-sm btn-primary update-item" style="margin-right:10px" data-item="{{product_id}}"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-sm btn-success removeitem" data-item="{{product_id}}"><i class="fa fa-trash"></i></i></button>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="back-to-shop"><a href="{% url 'menu' %}">&leftarrow;<span class="text-muted"> Back to Menu</span></a></div>
    </div>
    <div class="col-md-4 summary">
        <div>
            <h5><b><span id="s3">Summary</span></b></h5>
        </div>
        <hr>
        <div class="row">
            <div class="col" style="padding-left:0;">Amount:</div>
            <div class="col text-right"><span id="amount">Rs. {{totalamount}}</span></div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:0;">Shipping price:</div>
            <div class="col text-right">Rs. 70</div>
        </div>
        <form>
            <p>VOUCHER CODE</p><input placeholder="Enter your code" style="margin-bottom: 0px;">
           <a class="btn btn-sm btn-warning yellow" id="discountcode" style="margin-top: 1rem;">Apply</a>
        </form>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">TOTAL PRICE:</div>
            <div class="col text-right"><span id="totalamount">Rs. <span id="totamount">{{finalamount}}</span></span></div>
        </div> 
        {% if totalitems %}
        <a href="{% url 'checkout' %}"><button class="btn btn-warning yellow">CHECKOUT</button></a>
        {% endif %}
    </div>
</div>